html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: roboto;
  overflow-x: hidden; }

body {
  font-size: 1.6rem; }

@media screen and (max-width: 870px) {
  body {
    background-color: #5d5d5d; } }

.container {
  width: 100%;
  height: 100vh;
  display: flex; }
  .container .bande {
    width: 15%;
    height: 100vh;
    z-index: 999;
    background-color: #fff; }
  .container .content {
    width: 70%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative; }
    .container .content #main {
      z-index: 10;
      transition: 1s ease-out;
      min-height: 100vh;
      height: 100%; }

#bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  z-index: -2;
  top: 0;
  background-size: cover;
  transition: 1s ease-out; }

#overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  opacity: 0.4;
  display: none;
  z-index: 1;
  top: 0; }

@media screen and (max-width: 870px) {
  .container .bande {
    display: none; }
  .content {
    width: 100% !important; }
    .content .main {
      width: 100%; } }

.header {
  height: 5rem;
  width: 100%;
  background-color: #1C1C1C;
  display: flex;
  align-items: center;
  z-index: 99; }
  .header .title h1 {
    color: white;
    font-size: 1.4rem; }
  .header #burger {
    height: 5rem;
    width: 5rem;
    position: relative;
    margin-left: 5rem;
    cursor: pointer; }
    .header #burger span {
      display: block;
      height: 0.4rem;
      width: 3rem;
      background-color: white;
      position: absolute;
      transition: 0.3s ease-out; }
      .header #burger span:first-child {
        margin-top: 1.3rem; }
      .header #burger span:nth-child(2) {
        margin-top: 2.3rem; }
      .header #burger span:last-child {
        margin-top: 3.3rem; }

#menu {
  position: absolute;
  background-color: #333333;
  height: 100vh;
  display: none;
  width: 40rem;
  z-index: -20;
  top: 0;
  transition: 0.5s; }

@media screen and (max-width: 870px) {
  .header #burger {
    margin-left: 1rem; } }

.formIntro {
  max-width: 81rem;
  width: 100%;
  min-height: 21rem;
  margin: 0 auto;
  display: flex;
  padding-top: 3rem;
  transition: 1s ease-out; }
  .formIntro .formIntro-logo {
    width: 21.5rem;
    background-color: #fafafa;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 5px 0px #ababab;
    display: flex;
    align-items: center;
    justify-content: center; }
  .formIntro .formIntro-txt {
    width: 57rem;
    color: #4e4e4e;
    background-color: #fafafa;
    box-sizing: border-box;
    padding: 2rem;
    margin-left: 3rem;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 5px 0px #ababab; }
    .formIntro .formIntro-txt h2 {
      font-size: 2rem; }
    .formIntro .formIntro-txt .formIntro-txt-select {
      display: flex;
      float: right; }
      .formIntro .formIntro-txt .formIntro-txt-select div {
        padding: 0.5rem 2rem;
        cursor: pointer; }
      .formIntro .formIntro-txt .formIntro-txt-select #decline:hover {
        color: #F44336; }
      .formIntro .formIntro-txt .formIntro-txt-select #accept:hover {
        color: #2196F3; }

.formIntro-logo-resp {
  display: none; }

.form {
  display: none;
  border-radius: 0.3rem;
  box-sizing: border-box;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative; }
  .form #close {
    width: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer; }
  .form form {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    height: 57rem;
    width: 57rem;
    background-color: #fafafa;
    box-shadow: 1px 2px 5px 0px #ababab;
    float: right; }
    .form form .form-input {
      display: flex;
      flex-direction: column;
      margin-left: 4rem;
      position: relative; }
      .form form .form-input input {
        height: 4rem;
        width: 32rem;
        border: none;
        border-bottom: 2px #e6e6e6 solid;
        background-color: transparent;
        font-size: 1.6rem;
        margin-top: 2rem;
        font-family: roboto;
        outline: none; }
        .form form .form-input input[type="submit"] {
          background-color: #2196F3;
          border: none !important;
          width: 9.5rem;
          color: white;
          margin: 0 auto;
          margin-top: 2rem;
          position: absolute;
          font-weight: bold;
          bottom: 4rem;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
          border-radius: 3px; }
        .form form .form-input input:focus {
          border-bottom: 2px #2196F3 solid; }
      .form form .form-input .form-input-tel {
        display: flex;
        margin-top: 2rem; }
        .form form .form-input .form-input-tel .picto-tel {
          margin-top: 1.3rem;
          margin-left: -1rem; }
        .form form .form-input .form-input-tel input {
          width: 18rem;
          margin-top: 0;
          margin-left: 1.5rem; }
        .form form .form-input .form-input-tel select {
          border: none;
          height: 4.4rem;
          font-size: 1.6rem;
          margin-left: 2rem;
          border-bottom: 2px #e6e6e6 solid;
          width: 9.5rem;
          color: #747474; }
    .form form .form-label {
      display: flex;
      flex-direction: column; }
      .form form .form-label label {
        font-size: 1.2rem;
        color: #999999;
        margin-top: 2rem;
        font-weight: bold;
        height: 4.4rem; }

@media screen and (max-width: 870px) {
  .formIntro {
    width: 100%; }
    .formIntro .formIntro-logo {
      display: none; }
    .formIntro .formIntro-txt {
      margin: 0 2rem;
      width: 100%; }
  .formIntro-logo-resp {
    background-color: #fafafa;
    border-radius: 0.3rem;
    box-shadow: 1px 2px 5px 0px #ababab;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    margin: 2rem;
    justify-content: center; }
  .form {
    margin: 2rem;
    width: auto;
    height: 80%; }
    .form form {
      width: 100%; }
      .form form .form-label {
        display: none; }
      .form form .form-input {
        width: 90%;
        margin: 0; }
        .form form .form-input input {
          width: auto; }
        .form form .form-input .form-input-tel input {
          width: 100%; }
        .form form .form-input .form-input-tel select {
          margin-left: 1rem; } }

#popupDecline {
  position: absolute;
  width: 25rem;
  height: 25rem;
  background-color: #fafafa;
  left: 50%;
  top: 50%;
  display: none;
  box-shadow: 1px 2px 5px 0px #ababab;
  transform: translate(-50%, -50%);
  flex-direction: column;
  color: #4e4e4e;
  border-radius: 0.4rem;
  padding: 1.5rem;
  box-sizing: border-box;
  z-index: 99; }
  #popupDecline .popupDecline-select {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 2rem;
    width: 100%; }
    #popupDecline .popupDecline-select h2 {
      font-size: 2rem; }
    #popupDecline .popupDecline-select div {
      padding: 0.5rem 2rem;
      cursor: pointer; }
    #popupDecline .popupDecline-select #annuler:hover {
      color: #F44336; }
    #popupDecline .popupDecline-select #oui:hover {
      color: #2196F3; }
