
$mainTextColor : #4e4e4e;
$boxShadow : 1px 2px 5px 0px rgba(171,171,171,1);

html, body {
	padding: 0;
	margin: 0;
	font-size: 10px;
	font-family: roboto;
	overflow-x: hidden;
}

body {
	font-size: 1.6rem;
}

@media screen AND (max-width: 870px) {
	body {
		background-color: #5d5d5d;
	}
}
