.formIntro {
	max-width: 81rem;
	width: 100%;
	min-height: 21rem;
	margin: 0 auto;
	display: flex;
	padding-top: 3rem;
	transition: 1s ease-out;

	.formIntro-logo {
		width: 21.5rem;
		background-color: #fafafa;
		border-radius: 0.3rem;
		box-shadow: $boxShadow;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.formIntro-txt {
		width: 57rem;
		color: $mainTextColor;
		background-color: #fafafa;
		box-sizing: border-box;
		padding: 2rem;
		margin-left: 3rem;
		border-radius: 0.3rem;
		box-shadow: $boxShadow;

		h2 {
			font-size: 2rem;
		}

		.formIntro-txt-select {
			display: flex;
			float: right;

			div {
				padding: 0.5rem 2rem;
				cursor: pointer;
			}

			#decline {
				&:hover {
					color: #F44336;
				}
			}
			#accept {
				&:hover {
					color: #2196F3;
				}
			}
		}
	}
}

.formIntro-logo-resp {
	display: none;
}

.form {
	display: none;
	border-radius: 0.3rem;
	box-sizing: border-box;    
	max-width: 81rem;
    width: 100%;
    margin: 0 auto;	
    margin-top: 3rem;
	position: relative;
	
	#close {
		width: 2rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		cursor: pointer;
	}

	form {
		display: flex;
		justify-content: center;
		padding-top: 2rem;
		height: 57rem;
		width: 57rem;
		background-color: #fafafa;
		box-shadow: $boxShadow;
		float: right;

		.form-input {
			display: flex;
			flex-direction: column;
			margin-left: 4rem;
			position: relative;

			input {
				height: 4rem;
				width: 32rem;
				border: none;
				border-bottom: 2px #e6e6e6 solid;
				background-color: transparent;
				font-size: 1.6rem;
				margin-top: 2rem;
				font-family: roboto;
				outline: none;

				&[type="submit"]{
					background-color: #2196F3;
					border: none !important;
					width: 9.5rem;
					color: white;
					margin: 0 auto;
					margin-top: 2rem;
					position: absolute;
					font-weight: bold;
					bottom: 4rem;
					left: 50%;
					transform: translateX(-50%);
					cursor: pointer;
					border-radius: 3px;
				}

				&:focus {
					border-bottom: 2px #2196F3 solid;
				}
			}

			.form-input-tel {
				display: flex;
				margin-top: 2rem;

				.picto-tel {
					margin-top: 1.3rem;
				    margin-left: -1rem;
				}

				input {
					width: 18rem;
					margin-top: 0;
					margin-left: 1.5rem;
				}

				select {
					border: none;
					height: 4.4rem;
					font-size: 1.6rem;
					margin-left: 2rem;
					border-bottom: 2px #e6e6e6 solid;
					width: 9.5rem;
					color: #747474;
				}
			}
		}


		.form-label {
			display: flex;
			flex-direction: column;

			label {
				font-size: 1.2rem;
				color: #999999;
				margin-top: 2rem;
				font-weight: bold;
				height: 4.4rem;
			}
		}
	}
}

@media screen AND (max-width: 870px) {
	.formIntro {
		width: 100%;

		.formIntro-logo {
			display: none;
		}
		.formIntro-txt {
			margin: 0 2rem;
			width: 100%;
		}
	}

	.formIntro-logo-resp {
		background-color: #fafafa;
		border-radius: 0.3rem;
		box-shadow: 1px 2px 5px 0px #ababab;
		display: flex;
		align-items: center;
		padding: 3rem 0;
		margin: 2rem;
		justify-content: center;
	}

	.form {
		margin: 2rem;
		width: auto;
		height: 80%;

		form {
		    width: 100%;

			.form-label {
				display: none;
			}

			.form-input {
				width: 90%;
				margin: 0;

				input {
					width: auto;
				}

				.form-input-tel {
					
					input {
						width: 100%;
					}
					
					select {
						margin-left: 1rem;
					}
				}
			}
		}
	}
}
